* {margin:0; padding: 0;} /* properties inside will affect the whole page */

.BackgroundColor {
	background-color: #47ceff;
}

#button {margin: 5px; width: 100px; text-align: center; line-height: 80px; position: relative; left: 48%; top: 270px;} /* it gives a shape of a button and an action of a button, essentially giving the element a button-like property */
#button a { /* You can use this css property to style the buttons themselves and the letters inside them */
	width: 100px;
	height: 30px;
	vertical-align: middle;
	background: rgb(38,61,161);
	background: linear-gradient(90deg, rgba(38,61,161,0.8242647400757178) 0%, rgba(13,171,82,1) 35%, rgba(0,212,255,1) 100%);
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid ;
	
}

#popup { /* To edit the box that will pop out as you press one of the divs using the button id tag you can costumize how the resulting box will look like */
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,.7);
    /* font-family: 'Pacifico', cursive; */
	top: 0;
	left: 0;
	visibility: hidden; /* the pop up is actually in the page and is hidden from the users eyes, due to this property */
	z-index: 2;
}

.window { /* Affects the resulting window area around the div with the popup id when we pressed the buttons */
	width: 800px;
	height: 400px;
	background: #fff;
	background-image: url("Beach.jfif");
	border-radius: 10px;
	position: relative;
	padding: 8px;
	text-align: center;
	margin: 15% auto;
}
.window h2 {
	margin: 30px 0 0 0;
}

.close-button { /* The close button of the popup, essentially the exit X icon */
	width: 6px;
	height: 20px;
	line-height: 23px;
	background: #000;
	border-radius: 50%;
	border: 3px solid #fff;
	display: block;
	text-align: center;
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: -10px;
	right: -10px;	
}


#popup:target { 
	visibility: visible; /* get the user to be able to see the popup div container when we "target" it by pressing one of the button */
}


#footers { /* The div container located below */
	background-color: #FE1414;
	height: 100px;
	padding: 1%;
	font-size: 12px;
	/*font-family: 'Pacifico', cursive;*/
	position: relative;
	bottom: -600px;
}
