/* all this css style is recommended for use element div and span*/
*{ /*this css is for all css in this file*/
    font-family: monospace;
}
#header{ /*this css is for detail color, size, etc for tab menu in top of page*/
    width: 100%;
    height: 50px;
    background-color: #2d2d2d;
    color: #cccccc;
    font-size: 18px;
}
#menu{ /*this css is gap in top, left, right, bottom text inside header, in this css is contain list menu like home, fashion, food, health*/
    padding: 15px;
}
#menu span{ /*this css is gap betwenn text inside menu, this css just use for element span in id menu*/
    margin-right: 10px;
}
a{ /*this is css for remove underline for hyperlink in menu, and change color*/
    text-decoration: none;
    color: #cccccc;
}
body{ /*this is css for background color*/
    background-color:lightblue;
}